<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Display type</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Resolution</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Battery volume</td>
      <td>{{ product.acum_volume }}</td>
    </tr>
    <tr>
      <td>Ram</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>SD</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Max SD</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Main camera</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Frontal camera</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>